# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.DS_Store
**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Virtual environments (VERY IMPORTANT)
venv/
env/
.venv/
conda/
Anaconda/
Miniconda/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git/
.gitignore

# Environment & secrets
.env

# Logs
*.log

# Tests
tests/

# Large ML artifacts (optional – load from S3 instead)
models/
data/
datasets/

# Docker files themselves
Dockerfile
docker-compose.yml
